body {
    font-family: "RobotoSlab-Regular", serif;
    font-size: 14px;
    color: #555;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.btn {
    color: #fff;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    width: 180px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


/* section title services */

.section-title-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title-block h2 {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.section-title-block span {
    display: block;
    width: 50px;
    height: 2px;
    background-color: #555;
}

.section-title-block p {
    font-size: 16px;
    margin-top: 27px;
}